<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\Users\KERRYEXPRESS\Desktop\Garden Miner\GardenMinerApp\EXE" />
    <add key="DbStringCon" value="vWm6ylV8rjPdqi9lXbi9qTtR79t04S3CtL6T8wxJJsIFLERTZOGqgnNC9koOXUjX6RpqY53IRKLWwySsIcsJSClM314Wxt151hxm11/Au2Kf9XP/WbgiUxoM7sZFLESa6LrHSP8yexkiFveKqSzvCg==" />
  </appSettings>
</configuration>